body {
    background: url(../images/background.jpg) repeat; /* Brian made changes - 15.07.2012 */
    color: #333;
    height              : 100%;
}

body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   13px;
    line-height: 18px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a { color: #333; }
a:visited { color: #333; }
a:hover { color: #f60; /*background-color:#000;*/ }    /* Brian made changes - 15.07.2012 */

div.field, div.actions {
    margin-bottom: 10px;
}

#notice {
    color: #f60;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid #f60;
    padding: 7px;
    padding-bottom: 0;
    margin: 20px auto;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #f60;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}






/*  Styles defined by Brian */

#container {
    border				: 1px solid #dcdcdc;
    background-color	: #ffffff;
    display             : block;
    margin				: 0 auto;
    overflow			: hidden;
    padding				: 20px;
	position			: relative;
    width				: 900px;
}

#header {
    height          	: 150px;
}

.clearfix {
    clear				: both;
}

h1,
h2,
h3 {
    color				: #f60;
}

h4 {
    margin              : 0;
}

.inactive {
	background-color	: #f9bebe;
}


/* FORM STYLES */

.label {
	font-weight			: 600;
	vertical-align		: top;
	padding				: 0.5em;
}


input {
    border              : 1px solid #e2e2e2;
}



/* MENU STYLES */
#menu {
    background-color	: #eee;
    height				: 50px;
    padding				: 0;
    width				: 100%;
}

#menu ul {
    list-style			: none;
	margin-left			: -40px;
}

#menu li {
    background-color	: #eee;
}

#menu li a {
    border-right		: 1px solid #fff;
    color				: #333;
    display				: block;
    height				: 50px;
    float				: left;
    line-height			: 50px;
    margin-right		: 0.1em;
    text-align			: center;
    text-decoration		: none;
    width				: 10%;
}

#menu li a:link,
#menu li a:visited {
    color				: #333;
}

#menu li a:hover {
    background-color	: #f60;
    color				: #eee;
}


/* SEARCH FIELD */
#search_form {
    border              : 1px dashed #e2e2e2;
    margin              : 5px auto;
    padding				: 10px;
    overflow            : auto;
}


/* IMAGE STYLES */

img {
	background-color	: #fff;
	border				: 1px solid #dcdcdc;
	padding				: 5px;
	margin				: 5px;
}
a img,
img .icon {
	background			: transparent;
	border				: 0;
	padding				: 0;
    margin              : 0;
}
.showProduct {
    float				: right;
    margin-left			: 25px;
	width				: 300px;
	height				: auto;
}


/* STYLES FOR DISPLAYING PRODUCTS ON THE STORE INDEX */
.item {
	height				: 250px;
	position			: relative;
	width				: 180px;
	background-color	: #fff;
	border				: 1px solid #e2e2e2;
	float				: left;
	margin				: 10px 15px;
	padding				: 5px;
}
 
.item_price {
	font-size			: 1.2em;
	padding				: 0;
}


.link {
	position			: absolute;
	right				: 0;
	bottom				: 0;
}


/* GENERAL TABLE STYLES */

.left  {
    text-align 			: left;
}
.right {
    margin-right        : 15px;
	text-align			: right;
}
.center {
	text-align			: center;
}

table {
    clear               : both;
    width               : 90%;
    margin              : 0 auto;
    border-collapse     : collapse;
    border-spacing      : 0;
}

.list_line_odd {
    background-color	: #eeeeee;
}


.list_line_even {
    background-color	: #dcdcdc;
}

tr {
    /*border-bottom		: 1px dotted #333;     */
}

th {
    border-bottom		: 3px solid #333;
}


/* TOTAL ROW ON CART/ORDERS TABLES */
.total {
    text-align			: right;
    font-weight         : 700;
    border-top          : 3px solid #333;
}


/* CART/LOGIN PANEL */

#cart {
    background			: url('../images/icons/cart.png') no-repeat;
    border				: 1px solid #eeeeee;
    margin				: 20px;
    height              : 140px;
    padding             : 5px;
	position			: absolute;
	right				: 0;
    top			    	: 0;
    width				: 200px;
}

#login {
    width               : 350px;
    height              : 150px;
    border				: 1px solid #eeeeee;
    position			: absolute;
    top			    	: 0;
    right				: 0;
    margin				: 20px;
}

#login table {
    width               : 310px;
    margin              : 0 auto;
}


/* CALL TO ACTION BUTTONS */
.c2a_btn {
    background          : url('../images/button_bg.jpg') repeat-x;
    border              : 1px solid #dcdcdc;
    display             : block;
    float               : right;
    height              : 15px;
    line-height         : 15px;
    margin              : 5px;
    padding             : 5px;
    text-align          : center;
    text-decoration     : none;
}

.c2a_btn:hover {
    background          : url('../images/button_hover.jpg') repeat-x;
    color               : #333;
}


/* FORM STYLES */

.button {
    background      	: url('../images/button_bg.jpg') repeat-x;
    border				: 1px solid #dcdcdc;
    color				: #333333;
}

.button:hover {
    background      	: url('../images/button_hover.jpg') repeat-x;
}

.small_field {
    width               : 25px;
    text-align          : center;
}


/* CATEGORY VIEW STYLES */
.category_link {
    clear               : both;
    margin              : 30px auto;
    width               : 90%;
    display             : block;
    height              : 112px;
    line-height         : 112px;
    color               : #f60;
    font-size           : 1.5em;
    font-weight         : 700;
    text-decoration     : none;
}

.category_link:hover {
    background-color    : #eeeeee;

}

.category_link img {
    float               : left;
    padding             : 5px;
    background-color    : #fff;
    border              : 1px solid #e2e2e2;
    margin-right        : 30px;
}