<h1>Listing Users</h1>
<% if current_user.admin %>
    <table>
      <tr>
        <th>Email</th>
        <th>Admin</th>
        <th></th>
      </tr>

      <% @users.each do |user| %>
          <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
            <td class='center'><%= user.email %></td>
            <td class='center'><%= user.admin %></td>
            <td><%= link_to image_tag('icons/show.png', :alt => 'Show Profile', :title => 'Show Profile'), user %></td>
          </tr>
      <% end %>
    </table>
<% end %>