<h1>Pending carts</h1>

<table>
  <tr>
    <th>Cart Owner</th>
    <th></th>
    <th># of Items</th>
    <th>Cart Value</th>
  </tr>

<% @carts.each do |cart| %>
   <% unless cart.line_items.empty? %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%=  %></td>
        <td></td>
        <td class='center'><%= cart.count %></td>
        <td class='right'><%= number_to_currency(cart.total_price, :unit => '&euro;') %></td>
      </tr>
   <% end %>
<% end %>
</table>