<h1>New category</h1>

<%= render 'form' %>

<table class="nav_icons">
  <tr>
    <td><%= link_to image_tag('icons/back.png', :alt => 'Back', :title => 'Back'), categories_path %></td>
  </tr>
</table>