<h1>New Stock Item</h1>

<%= render 'form' %>

<table class="nav_icons">
  <tr>
    <td><%= link_to image_tag('icons/back.png', :alt => "Back", :title => "Back"), stock_items_path %></td>
  </tr>
</table>
