<h1>Welcome to KidZ Boutique</h1>
<p>Here are our products!</p>
<% @items.each do |item| %>
    <div class="item">
      <div class='item_img'>
        <%= image_tag(item.product.picture) %>
      </div>
      <h3><%= item.product.product_name %></h3>
      <p><%= truncate(sanitize(item.product.description), :length => 90) %></p>
      <p class='item_price'>
        <%= number_to_currency(item.product.unit_price,:unit=>'€') %>
      </p>
    </div>
<% end %>
